input[type="text"] {
    width:100px;
}

.ComponentBox {
    display : flex;
    justify-content:  center;
    align-items: center;
}

h5 {
    text-align: center;
}

.divBtnAlignCenter {
    display: flex;
    justify-content:  center;
    align-items: center;   
}